.fullscreen_Block_2 {
	display: flex;
	width: 100%;
	background-image: url(../../../img/bg/bg2.jpg);
	.Block_2 {
		flex: 1 1 auto;
		height: 900px;
		max-width: 1200px;
		margin: 0 auto;
		.bl_2_text {
			margin: 0 auto;
			width: 600px;
			height: 100px;
			color: white;
			text-align: center;
			.bl_2_text_first{
				display: block;

			}
			.bl_2_text_second {
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				color: inherit;
				font-size: 17px;
				color: rgb(200,200,200, 0.6);
				line-height: 1.1;

			}
		}
		.types_of_layout_box {
			color:rgb(200,200,200, 0.6);
			display: flex;
			margin-top: 100px;
			justify-content: space-around;

			.types_of_layout{
				font-family: 'Roboto', sans-serif;
				font-size: 12px;
				line-height: 1.1;
				border: 1px solid white;
				padding: 20px;
				width: 270px;
				text-align: center;
				user-select: none;
				&:hover{
						color: rgb(6,186,209);
					img {
						background:rgb(161,159,255);
					}
					h3 {
						color: rgb(249,154,108);
					}
				}

				img{
					width: 80px;
					background: white;
					padding: 0px;
					border-radius: 50%;
					width: 90px;
					height: 90px;
					margin-bottom: 30px;
					}
				h3{
					font-family: 'Roboto', sans-serif;
					display: block;
					text-transform: uppercase;
					font-size: 15px;
					color: white;
					}
				}
		}
		}
}




@media only screen and (min-width : 1224px) {

.types_of_layout{

	&:hover {
					background: black;
					transform: scale(1.3);
					transition: 1s;
					color: rgb(6,186,209);
					border: 1px solid rgb(161,159,255);
					img {
						background:rgb(161,159,255);
					}
					h3 {
						color: rgb(249,154,108);
					}
					}
}
}